{{page-title "EngineServiceSharing"}}

<h1>Sharing services across engines</h1>

My service: {{this.myService.myProperty}}

<br/><br/>

<LinkTo @route="route-with-mounted-engine">Route with embedded mounted engine</LinkTo>

<br/><br/>

<LinkTo @route="my-routeable-engine">Direct link to routeable engine</LinkTo>

<br/><br/><hr/>

{{outlet}}